.layout {
  border: 2px solid pink;
  margin: 3% 5.5% 0% 5.5%;
}

.leftHandColumn {
  border: 2px solid red;
  width: 12%;
  position: absolute;
  float: left;
}

.searchContainer {
  width: 100%;
  padding-bottom: 10px;
}

.form {
  border: 1.3px solid lightgray;
}

.searchField {
  width: 100%;
  padding: 10px 35px 10px 15px;
  font-size: 12px;
  border: none;
  outline: none;
}

.searchButton {
  width: 30px;
  height: 30px;
  margin-top: 11px;
  margin-left: -45px;
  position: absolute;
  display: inline;
  border: none;
  outline: none;
  background: transparent;
}

.buttonImage {
  width: 20px;
  height: 90%;
  margin-top: -2px;
  margin-left: 8px;
  position: relative;
}

hr {
  border: 0.9px solid lightgray;
  margin-bottom: 25px;
}

.categoriesTitle {
  font-family: sans-serif;
  font-size: 13px;
}

li {
  margin-bottom: 18px;
  margin-left: -40px;
}

li.F {
  margin-bottom: 25px;
}

.heroBlockContainer {
  border: 2px solid yellow;
  width: 69.3%;
  height: 80%;
  margin-top: 1%;
  margin-left: 18%;
  float: right;
  position: absolute;
}

.heroRow1, .heroRow2 {
  border: 2px solid orange;
  width: 100%;
  height: 49.5%;
  position: relative;
}

.heroBlock1, .heroBlock2 {
  border: 2px solid red;
  width: 28.84%;
  height: 99.8%;
  padding-right: 4%;
  float: left;
  position: relative;
  font-family: sans-serif;
}

/* .heroRow1 > img {
  border: 2px solid green;
} */
