<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Black Database</title>
    <link rel="stylesheet" href="index/BlackDatabase.css">
  </head>
  <body>

    <div class="layout">

      <div class="leftHandColumn">
        <div class="searchContainer">
          <form class="form" action="/" method="GET">
            <input class="searchField" type="search" placeholder="Search">
            <button class="searchButton" type="submit">
              <img class="buttonImage" src="images/search.png"></button>
          </form>
        </div>

        <div class="categoriesContainer">
          <div class="categoriesTitle"><h4>CATEGORIES</h4></div><hr>
          <nav>
            <ul style="list-style-type:none">
              <li class="A"><a href=".html">Authors</a></li>
              <li class="B"><a href=".html">Books</a></li>
              <li class="C"><a href=".html">Businesses</a></li>
              <li class="D"><a href=".html">Business Owners</a></li>
              <li class="E"><a href=".html">Influencers</a></li>
              <li class="F"><a href=".html">Non-profits</a></li>
            </ul>
          </nav><hr>

          <a href="BlackDatabase.html">Home Page</a>
        </div>
      </div>


      <div class="heroBlockContainer">
        <div class="heroRow1">
          <div class="heroBlock1">
            <a href=""><img class="authors" src="images/search.png" alt="Authors"></a><hr>
            <h4>AUTHORS</h4>
          </div>

          <div class="heroBlock1">
            <a href=""><img class="books" src="images/search.png" alt="Books"></a><hr>
            <h4>BOOKS</h4>
          </div>

          <div class="heroBlock1">
            <a href=""><img class="influencers" src="images/search.png" alt="Influencers"></a><hr>
            <h4>INFLUENCERS</h4>
          </div>
        </div>

        <div class="heroRow2">
          <div class="heroBlock2">
            <a href=""><img class="businesses" src="images/search.png" alt="Businesses"></a><hr>
            <h4>BUSINESSES</h4>
          </div>

          <div class="heroBlock2">
            <a href=""><img class="businessOwners" src="images/search.png" alt="Businesses Owners"></a><hr>
            <h4>BUSINESS OWNERS</h4>
          </div>

          <div class="heroBlock2">
            <a href=""><img class="nonProfits" src="images/search.png" alt="Non-Profits"></a><hr>
            <h4>NON-PROFITS</h4>
          </div>
        </div>
      </div>


    </div>




  </body>
</html>
