{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>African-American Book Club</title>
    <link rel="stylesheet" href="{% static 'css/Final_Project.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="transbox">
       <form class="search_bk" action="index.html" method="post" style="max-width:200px;">
          <input type="text" placeholder="Search..." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
       </form>
    </div><br>
    <div class=navmenu>
      <h3 style="font : 16px "verdana", sans-serif;">CATEGORIES</h3><hr style="width: 12%; margin-left: 2px;"><br>
      <a class="buttonMain" href="#" title="Click to learn for BOOKS">Books</a><br><br>
      <a class="buttonMain" href="#"  title="Click to learn for AUTHORS">Authors</a><br><br>
      <a class="buttonMain" href="#"  title="Click to learn for Business">Business</a><br><br>
      <a class="buttonMain" href="#"  title="Click to learn for Business Owners">Business Owners</a><br><br>
      <a class="buttonMain" href="#"  title="Click to learn for Influencers">Influencers</a><br><br><br>
      <a class="buttonMain" href="#"  title="Click to learn for Non-Profits">Non-Profits</a><br><br><br>
      <hr style="width: 12%; margin-left: 2px;">
      <a class="buttonMain" href="#"  title="Click to Home Page">Home&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='font-size:26px;'>&#9825;</span></a><br><br>
    </div>

    {% for book in books %}
    <div class="style_books">
        <a href="#"><img src="{{book.image_url}}" alt="" width="100%" height="100%" style="border:1px solid grey;"></a>
        <p>{{book.title}}</p>
        <p>{{book.author_name}}</p>
        <p>{{book.description}}</p>
    </div>
      {% endfor %}
  </body>
</html>
