{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Influencers</title>
    <link rel="stylesheet" href="{% static 'css/BlackDatabase.css' %}" type="text/css"/>
  </head>
  <body>

    <div class="layout">

      <div class="leftHandColumn">
        <div class="searchContainer">
          <form class="form" action="/" method="GET">
            <input class="searchField" type="search" placeholder="Search">
            <button class="searchButton" type="submit">
              <img class="buttonImage" src="images/search.png"></button>
          </form>
        </div>

        <div class="categoriesContainer">
          <div class="categoriesTitle"><h4>CATEGORIES</h4></div><hr>
          <nav>
            <ul style="list-style-type:none">
              <li class="A"><a href=".html">Authors</a></li>
              <li class="B"><a href=".html">Books</a></li>
              <li class="C"><a href=".html">Businesses</a></li>
              <li class="D"><a href=".html">Business Owners</a></li>
              <li class="E"><a href="/featuredpersons/">Influencers</a></li>
              <li class="F"><a href=".html">Non-Profits</a></li>
            </ul><hr>
            <a href="{% url 'home' %}">Home Page</a><br><br>
            <a href="">Contact Us</a>
          </nav>
        </div>
      </div>


      <div class="heroBlockContainer">
        {% for influencer in influencers %}
        <div class="heroBlock1">
          {% static "images/influencers.jpeg" as myphoto %}
          <a href="{% url 'influencers' %}"><img class="influencers" src="{{ myphoto }}" alt="Influencers"></a><hr class="hb">
          <h4>{{influencer.name}}</h4>
        </div>
        {% endfor %}
      </div>

    </div>

  </body>
</html>
